<template>
  <div class="container">
    <p>
     {{ wrds }}    
    </p>
  <p>я типо живу</p>
   <div id="demo">
    <form id="search">
      Search <input name="query" v-model="searchQuery">
    </form>
    <grid-template
      :data="gridData"
      :columns="gridColumns"
      :filter-key="searchQuery">
    </grid-template>
   </div>
  </div>
</template>

<script>
import axios from 'axios';
import gridTemplate from '~/components/grid-template.vue';

export default {
  components: {
    gridTemplate
  },
  data() { return { wrds: 'nothing'}},
  async asyncData () {
    debugger;
    const { data } = await axios.get(encodeURI('http://127.0.0.1:8082/все-слова'));
    return { wrds: data,
      searchQuery: '',
      gridColumns: ['код','слово','перевод'],
      gridData: data // [{код: "Chuk", слово: 1000, 'перевод':23}]
    } 
  },
  head: {
    title: "Список всех слов"
  },
}
</script>

